/* Navigation Bar */

@import url('https://fonts.googleapis.com/css?family=Ruda|Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');


body {
  padding: 0%;
  margin: 0%;
  font-family: 'Lato';
}

.navbar-brand {
  font-family: 'Ruda';
  font-weight: 700;
  font-size: 35px;
  color: #3498DB !important;
}

.nav-link {
  font-size: 16px;
  margin: 15px;
  color: black !important;
  font-family: 'Roboto Condensed'
}

.nav-link:hover {
  color: #3498DB !important;
}

.active .nav-link {
  color: #3498DB !important;
}

.menu-right-btn {
  padding: 13px 46px;
  margin-right: 4%;
  transition: all 300ms ease-in;
  color: black;
  background: transparent !important;
}

.menu-right-btn:hover {
  padding: 13px 46px;
  margin-right: 4%;
  transition: all 300ms ease-in;
  color: #fff !important;
  background-color: #3498DB !important;
}

.login-css:hover {
  color: #fff !important;
}

.primary-color {
	color: #3498DB !important;
}

.primary-bg {
	background-color: #3498DB !important;
}

.primary-bg:hover {
	background-color: #444 !important;
}

.primary-bg:focus {
  background-color: #444 !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.btn-primary a{
  color: black;
  text-decoration: none;
}

/* MAIN */

.title {
  font-size: 50px;
  color: #444444;
  font-weight: 700 !important;
  color: #3498DB !important;
}

.title-sub {
  font-size: 200px;
  padding-bottom: 0px !important;
  margin-bottom: -120px;
  color: #3498DB !important;
  opacity: 0.1;
}

.jumbotron {
  background-color: #2B2E31 !important;
}

/* Footer */

.footer {
  background: #2B2E31;
  padding: 25px 0 0;
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 1;
  box-shadow: 0px -10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.footer ul {
  margin-left: 0;
}

.footer .title {
  border-bottom: 1px solid #696E74;
}

.copyrights p {
  font-size: 12px;
  margin-top: 10px;
}

.footer-menu {
  margin: 10px 0;
}

.footer-left p {
  display: inline-block;
  color: #fff;
}

.credits {
  display: inline-block;
}

.footer-menu ul {
  list-style: none;
  list-style-position: outside;
  float: right;
  display: inline;
  margin: 5px;
}

.footer-menu li {
  line-height: 12px;
  float: left;
  padding: 0 7px;
}

.footer .widget h4 {
  color: #ffffff;
}

.copyrights {
  background: #3E4246;
  padding: 0;
  font-size: 12px;
  border-top: 1px solid #3E4246;
  margin-top: 15px;
  color: #fff;
}

.copyrights a {
  color: #fff;
}


.divider {
  margin: 25px 0;
  height: 2px;
  display: block;
  position: relative;
  overflow: hidden;
}


.dmtop {
  background-image: url('../images/arrow.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  position: fixed;
  bottom: -100px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  overflow: auto;
}

.dmtop:hover {
  background-color: #3E4246;
}

.google-map {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  min-height: 200px;
}

div.google-map {
  background: rgba(255, 255, 255, 0.5);
  background: #ffffff;
  height: 400px;
  margin: 0 0 0px 0;
  width: 100%;
}

.widget {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.widget h3, .widget h4 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
}

#post-tags a, .tagcloud a {
  float: left;
  display: block;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 5px 10px;
  font-size: 12px !important;
  line-height: 1.4em !important;
  color: #fff !important;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s linear;
  transition: all .4s linear;
}

#post-tags a:hover, .tagcloud a:hover {
  background: #3E4246 !important;
  color: #fff !important;
  text-decoration: none;
  -webkit-transition: all .01s ease-out;
  -moz-transition: all .01s linear;
  transition: all .01s linear;
}

.recent_posts>li {
  display: table;
  height: 60px;
  margin-bottom: 10px;
  width: 100%;
}

.recent_posts>li:last-child {
  border-bottom: 0 solid #fff;
}

.section2 .widget h4 {
  color: #ffffff;
}

.footer ul li, .recent_posts li {
  list-style: none
}

.recent_posts a {
  color: #696E74;
}

.recent_posts>li img {
  max-width: 60px;
}

a.readmore {
  text-transform: none;
  display: block;
  font-family: 'Ruda', sans-serif !important;
  font-size: 12px;
  font-style: italic;
}

@media (max-width: 768px) {
  .title-area, .social_buttons {
    float: none !important;
    clear: both !important;
    display: block !important;
    text-align: center !important;
  }
}

@media (max-width: 768px) {
  .notfound {
    background: none;
  }
  .notfound .small-title {
    width: 100%;
  }
  .callus, .search-bar, .post-wrapper-top, .title-area, .social_buttons {
    float: none !important;
    clear: both !important;
    display: block !important;
    text-align: center !important;
  }
}


#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    background: #3498DB;
}

#back-to-top:hover {
    background: #444;
}

#back-to-top.show {
    opacity: 1;
}

/* Preloader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

/* DASHBOARD */

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  margin-top: 10px;
  width: 0;
  top: 55px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right: 1px solid #E7E7E7;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  margin-top: 60px; 
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #337AB7;
}

.list-a a {
  border-top: 1px solid #E7E7E7;
}

.list-a2 a {
  border-bottom: 1px solid #E7E7E7;
}

.fa, .fab, .fal, .far, .fas{
  display: inline !important;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #337AB7;
  background: #EEEEEE;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

.page-header {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0rem;
  margin-bottom: 2.4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dfdfdf;
  height: auto; 
}

.page-header h1 {
  display: inline;
  border: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%; 
}

.au-card {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden;
}

.au-card-padding{
    padding: 40px 30px;
    padding-bottom: 40px;
}

/* .card {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
} */

.card-header {
  background-color: transparent !important;
}

/* Tabs */
main {
  padding: 10px;
  margin: 0 auto;
  background: #fff;
}

.tab-menu:checked + .tab-title {
  border-top: 2px solid #3498DB !important;
}

.tab-content {
  display: none;
  padding: 20px 0px;
  border-top: 1px solid #ddd;
}

.tab-menu {
  display: none;
}

.tab-title {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tab-title:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab-title[for*='1']:before { content: '\f2bc'; }
.tab-title[for*='2']:before { content: '\f1b9'; }
.tab-title[for*='3']:before { content: '\f02d'; }
.tab-title[for*='4']:before { content: '\f1a9'; }

.tab-title:hover {
  color: #888;
  cursor: pointer;
}

.tab-menu:checked + .tab-title {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media (max-width: 768px) {

  .card-header h4{
    font-size: 16px !important;
    text-align: center;
  }

  .tab-title {
    display: block;
    margin: 0 0 -1px;
    padding: 15px 10px;
    font-size: 12px;
    text-align: left !important;
  }

}

.input-label {
  height: 45px;
}

input.custom-file-input {
  height: 45px;
}

.form-control:focus {
  box-shadow: none !important;
}

/* Modal */
button.close:hover {
  background-color: #ffffff !important;
}

/* Upload */
.drop {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: transparent;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 100%;
}

.drop .cont {
  width: 100%;
  height: 170px;
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.drop .cont i {
  font-size: 40px;
  color: #787e85;
  position: relative;
}

.drop .cont .tit {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
}

.drop .cont .desc {
  color: #787e85;
  font-size: 18px;
}

.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
}

.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}

.dashed_upload {
  padding-bottom: 100%;
  position: relative;
}

.bg-secondary-orange {
  background-color: #F98251;
}

.card .mb-3 {
  margin-bottom: 0 !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #999999 !important;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgb(248, 248, 248);
}
/* 
.shadow {
  -moz-box-shadow:    inset 0 0 2px #e5e5e5;
  -webkit-box-shadow: inset 0 0 2px #e5e5e5;
  box-shadow:         inset 0 0 2px #e5e5e5;
} */

